/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Table */
.table {
  &-header {
    font-weight: 400;
    background-color: lightgoldenrodyellow;
    padding: 10px;
  }

  &-row {
    border-bottom: 1px solid black;
    padding: 5px 10px;
    align-items: center;

    &--action {
      .p-element {
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.form-field{
  margin: 5px 0;
  padding: 10px;

}

.p-inputtext{
  width: 100%;
}
